In [28]:
k = ["full stack data science"]

In [29]:
k

['full stack data science']

In [30]:
b = ["khan"]

In [31]:
k + b

['full stack data science', 'khan']

In [39]:
"khan" * 6

'khankhankhankhankhankhan'

In [40]:
b = "my name is Khan"

In [48]:
b.find("n")

3

In [49]:
b

'my name is Khan'

In [54]:
c = ["shayan"]+[b]

In [55]:
c

['shayan', 'my name is Khan']

In [64]:
c

['shayan', 'my name is Khan']

In [66]:
b

'my name is Khan'

In [67]:
b.find("kjhkh")

-1

In [69]:
b

'my name is Khan'

In [90]:
b.find("name")

3

In [93]:
d = "my name is khan"

In [95]:
f = d.find("name")
for i in range(len("name")):
    print(f + i)

3
4
5
6

In [96]:
d.count("name")

1

In [100]:
d = "my name is khan, My age is 20"

In [101]:
d.count("my")

1

In [102]:
d.count("m")

2

In [103]:
d

'my name is khan, My age is 20'

In [110]:
d.split()# it will give a list and split it

['my', 'name', 'is', 'khan,', 'My', 'age', 'is', '20']

In [111]:
d.split(",") # it will split on basis of comma

['my name is khan', ' My age is 20']

In [112]:
d.split("n")# it will split on the basis of n

['my ', 'ame is kha', ', My age is 20']

In [113]:
d.split("na")

['my ', 'me is khan, My age is 20']

In [114]:
type(d.split("na"))

list

In [115]:
d.upper()

'MY NAME IS KHAN, MY AGE IS 20'

In [116]:
d.lower()

'my name is khan, my age is 20'

In [118]:
d.swapcase()

'MY NAME IS KHAN, mY AGE IS 20'

In [127]:
" ".join(d)

'm y   n a m e   i s   k h a n ,   M y   a g e   i s   2 0'

In [123]:
d

'my name is khan, My age is 20'

In [128]:
reversed(d)

In [129]:
d[::-1]

'02 si ega yM ,nahk si eman ym'

In [130]:
d

'my name is khan, My age is 20'

In [131]:
for i in reversed(d):
    print(i)

0
2

s
i

e
g
a

y
M

,
n
a
h
k

s
i

e
m
a
n

y
m

In [132]:
a  = " khan "

In [134]:
a.strip()  #will remove spaces

'khan'

In [135]:
a = "   k   han"
a.split()

['k', 'han']

In [137]:
a.lstrip()

'k   han'

In [138]:
a.rstrip()

'   k   han'

In [142]:
a  = " how are you?"
a.replace('h','p')

' pow are you?'

In [144]:
a # no changes

' how are you?'

In [145]:
# thats the reason strings are immutable

In [146]:
f = a.replace('h','p')

In [147]:
f

' pow are you?'

In [148]:
a

' how are you?'

In [149]:
p = "khan"

In [150]:
p.center(23,'#')

'##########khan#########'

In [171]:
a = "we All are learning Full Stack Data science"

In [172]:
a.lower()

'we all are learning full stack data science'

In [176]:
a.count('a')

5

In [180]:
#finding all indexesm of a

In [195]:
b = a.find("a")

+ task:
       # find the index of all a occurance
       # replace a with khan
       # save it as a list

In [189]:
b

7

In [197]:
for i in range(len(a)):
    if (a[i]== 'a'):
        print(i)

7
13
27
32
34

In [198]:
a.replace('a','khan')

'we All khanre lekhanrning Full Stkhanck Dkhantkhan science'

In [199]:
g = [a]

In [200]:
g

['we All are learning Full Stack Data science']

In [201]:
type(g)

list